body {
	margin: 0;
	color: rgb(70,70,70);
	font-family: "museo-sans", sans-serif;
}

.typekit-badge{
	display: none !important;
}

* {
	box-sizing: border-box;
}


/*
	Index
*/

.index .header h1{
	font-size: 5em;
	text-align: center;
	padding: 0 32px;
}


/*
	Controls
*/

.index .controls {
	text-align: center;

}

.index .control-option {
	display: inline-block;
	background-color: rgb(250,250,250);
	padding: 6px;
	border-radius: 4px;
	margin: 4px;
	cursor: pointer;
	opacity: 0.9;
	transition: all 60ms ease-in-out;
}

.index .control-option:hover, .control-option.active {
	background-color: rgb(240,240,240);
	opacity: 1;
}

.index .items[data-filter='project'] > *:not(.project) {
	display: none;
}

.index .items[data-filter='post'] > *:not(.post) {
	display: none;
}

.index .items[data-filter='about'] > * {
	display: none;
}


/*
	About
*/

.index .about {
	margin-bottom: 72px;
	text-align: center;
}

.index .about a{
	display: block;
	text-decoration: none;
	color: rgb(60,60,60);
	font-size: 1.5em;
	margin-bottom: 8px;
}

.index .about a:hover{
	text-decoration: underline;
}


/*
	Items
*/

.index .content{
	padding-bottom: 128px;
	max-width: 600px;
	margin: 0 auto;
}

.index .items {
	margin-top: 72px;
	text-align: center;
}

.index .item{
	display: inline-block;
	margin-bottom: 72px;
	opacity: 0.9;
	transition: all 140ms ease-in-out;
}

.index .item:hover{
	opacity: 1;
	-webkit-transform: translateY(-4px);
}

.index .item a {
	display: block;
	text-decoration: none;
	color: rgb(60,60,60);
}

.index .item img{
	transition: all 140ms ease-in-out;
	max-width: 400px;
	border: 4px solid rgb(235,235,235);
	border-radius: 4px;
}

.index .item .item-description{
	margin-top: 8px;
}

.index .item .item-title{
	font-size: 1.2em;
}


/*
	Article
*/

.article .background-image{
	max-height: calc(100vh * .6);
	overflow: hidden;
	position: relative;
	text-align: center;
}

.article .background-image::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
	background-image:
    linear-gradient(
      rgba(255,255,255,0), rgba(255,255,255,1)
    );
}

.article .background-image img{
	width: 100%;
}


.article .header {
	text-align: center;
	font-size: 3em;
}

.article .content {
	margin: 0 auto;
	max-width: 650px;
	padding-bottom: 128px;
	padding-left: 32px;
	padding-right: 32px;
}

.article .content p{
	font-size: 1.2em;
}

.article .content a{
	color: inherit;
}

.article .links a{
	font-size: 1.2em;
	display: block;
	color: rgb(70,70,70);
	padding: 4px 0;
	text-decoration: none;
}

.article .links a:hover{
	text-decoration: underline;
}
