body {
	margin: 0;
	color: rgb(70,70,70);
	font-family: "museo-sans", sans-serif;
}

.typekit-badge{
	display: none !important;
}

* {
	box-sizing: border-box;
}


.header h1{
	font-size: 5em;
	text-align: center;
	padding: 0 32px;
}


/*
	Controls
*/

.controls {

	text-align: center;

}

.control-option {
	display: inline-block;
	background-color: rgb(250,250,250);
	padding: 6px;
	border-radius: 4px;
	margin: 4px;
	cursor: pointer;
	opacity: 0.9;
	-webkit-transition: all 60ms ease-in-out;
}

.control-option:hover, .control-option.active {
	background-color: rgb(240,240,240);
	opacity: 1;
}

.items[data-filter='project'] > *:not(.project) {
	display: none;
}

.items[data-filter='post'] > *:not(.post) {
	display: none;
}

.items[data-filter='about'] > * {
	display: none;
}


/*
	About
*/

.about {
	margin-bottom: 72px;
	text-align: center;
}

.about a{
	display: block;
	text-decoration: none;
	color: rgb(60,60,60);
	font-size: 1.5em;
	margin-bottom: 8px;
}

.about a:hover{
	text-decoration: underline;
}


/*
	Items
*/

.content{
	padding-bottom: 128px;
	max-width: 600px;
	margin: 0 auto;
}

.items {
	margin-top: 72px;
	text-align: center;
}

.item{
	display: inline-block;
	margin-bottom: 72px;
	opacity: 0.9;
	-webkit-transition: all 140ms ease-in-out;
}

.item:hover{
	opacity: 1;
	-webkit-transform: translateY(-4px);
}

.item a {
	display: block;
	text-decoration: none;
	color: rgb(60,60,60);
}

.item .item-image{
}

.item img{
	-webkit-transition: all 140ms ease-in-out;
	max-width: 400px;
	border: 4px solid rgb(235,235,235);
	border-radius: 4px;
}

.item .item-description{
	margin-top: 8px;
}

.item .item-title{
	font-size: 1.2em;
}


/*
	Posts
*/

.about-content{
	position: relative;
	z-index: 100;
	max-width: 600px;
	margin: 0 auto;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 128px;
}

.about-header{
	max-width: 100%;
	font-size: 3em;
	text-align: center;
	padding: 0 32px;
}

.about-post{
}

.post-image {
	max-height: 600px;
	overflow: hidden;
	position: relative;
	text-align: center;
	margin-bottom: -20%;
}

.post-image::before{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
	background-image:
    linear-gradient(
      rgba(255,255,255,0), rgba(255,255,255,1)
    );
}


.post-image img{
	width: 100%;
}

.post-text {
	font-size: 1.2em;
	margin: 36px 0;
}

.post-links a{
	font-size: 1.2em;
	display: block;
	color: rgb(70,70,70);
	padding: 4px 0;
	text-decoration: none;
}

.post-links a:hover{
	text-decoration: underline;
}













