<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<meta name="author" content="Simon Last" />
		<meta name="viewport" content="width=device-width; initial-scale=0.5" />
		<meta name="twitter:card" content="photo">
    	<meta name="twitter:creator" content="@simonlast">
    	<meta name="twitter:title" content="{{title}}">
    	<meta name="twitter:image" content="http://simonlast.org/screens/{{titlePhoto}}">
		<link rel="shortcut icon" href="http://www.gravatar.com/avatar/3b964d84fcfbcdf59089c8bd7309f0b7.ico" />
		<link rel="stylesheet" type="text/css" href="/styles/style2.css" />
			<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25818786-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</head>
	<body>
		
		<div id="back"><a href="/">Simon Last</a></div>
		
		<div id="articleContainer">
		<div id="content">
			<ul class="rslides">
				{{#each photos}}
  					<li><img src="/screens/{{this}}" alt="" /></li>
				{{/each}}
			</ul>

			<div class="about">
				{{{about}}}
			</div>
		<ul id="buttons">
			{{#each actions}}
  					<a href="{{this.url}}"><li>{{this.name}}</li></a>
			{{/each}}
		</ul>
		
	</div>
	</div>
	
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="/scripts/responsiveslides.min.js"></script>
        <script>
			  $(function () {
				    $(".rslides").responsiveSlides();
 			 });
		</script>    
	</body>
</html>
