<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<meta name="author" content="Simon Last" />
		<meta name="viewport" content="width=device-width; initial-scale=0.5" />
		<meta name="twitter:card" content="photo">
  	<meta name="twitter:creator" content="@simonlast">
  	<meta name="twitter:title" content="{{title}}">
  	<meta name="twitter:image" content="http://simonlast.org/screens/{{titlePhoto}}">
		<link rel="shortcut icon" href="http://www.gravatar.com/avatar/3b964d84fcfbcdf59089c8bd7309f0b7.ico" />
		<link rel="stylesheet" type="text/css" href="/styles/style-static.css" />
		<script type="text/javascript" src="//use.typekit.net/suk0ird.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>

		<div class="post-image">
			<img src="/screens/{{mainPhoto}}" alt="" />
		</div>

		<div class="about-content">

			<div class="about-header">
				<h1>{{title}}</h1>
			</div>

			<div class="about-post">

				<div class="post-text">
					{{{about}}}
				</div>

				<div class="post-links">
					{{#each actions}}
						<a href="{{this.url}}">{{this.name}}</a>
					{{/each}}
				</div>
			</div>

		</div>

	</body>
</html>
