<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Simon Last</title>
		<meta name="author" content="Simon Last" />
		<link rel="stylesheet" type="text/css" href="/styles/style-static.css" />
		<link rel="shortcut icon" href="http://www.gravatar.com/avatar/3b964d84fcfbcdf59089c8bd7309f0b7.ico" />
		<script type="text/javascript" src="//use.typekit.net/suk0ird.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>	</head>
	<body class="index">

		<div class="header">
			<h1>Simon Last</h1>

			<div class="controls">
				<div class="control-option active">All</div>
				<div class="control-option" data-filter="project">Projects</div>
				<div class="control-option" data-filter="post">Posts</div>
				<div class="control-option" data-filter="about">About</div>
			</div>
		</div>

		<div class="content">

			<div class="items">

				{{#each articles}}
					<div class="item {{this.extraClasses}}">
						<a href="/about/{{this.url}}">
							<div class="item-image">
								<img src="/screens/thumbs/{{this.titlePhoto}}" />
							</div>
							<div class="item-description">
								<div class="item-title">{{this.title}}</div>
							</div>
						</a>
					</div>
				{{/each}}

			</div>

			<div class="about">
				<a class="twitter" href="http://twitter.com/simonlast">twitter</a>
				<a class="github" href="http://github.com/simonlast">github</a>
        <a class="photos" href="http://photos.simonlast.org">photos</a>
				<a class="email" data-email="uryyb@fvzbaynfg.bet" onclick="convert(this)" onmouseover="convert(this)" href="/email">uryyb@fvzbaynfg.bet</a>
			</div>


		</div>

			<script type="text/javascript">
				var controls = document.querySelector(".controls")

				controls.addEventListener("click", function(e){
					var option = e.target;

					if (option.classList.contains("control-option")){

						var allOptions = document.querySelectorAll(".control-option");
						for (var i = allOptions.length - 1; i >= 0; i--) {
							allOptions[i].classList.remove("active");
						};

						option.classList.add("active");

						var itemContainer = document.querySelector(".items")
						itemContainer.dataset.filter = option.dataset.filter;
					}
				});

				var az = "abcdefghijklmnopqrstuvwxyzabcdefghijklmABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLM";

				var convert = function(el){
					var converted = dcpt(el.getAttribute("data-email"));
					el.href = "mailto:" + converted;
					el.innerHTML = converted;
				};

				var dcpt = function(text) {
		      for (var r = "", i = 0; i < text.length; i++) {
	          var chr = text.charAt(i);
	          var position = az.indexOf(chr);
	          if (position > -1) {
	            chr = az.charAt(position + 13);
	          }
	          r += chr;
		      }
		      return r;
	    	};
			</script>

	</body>
</html>
