<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Simon Last</title>
		<meta name="author" content="Simon Last" />
		<meta name="viewport" content="width=device-width; initial-scale=0.5" />
		<link rel="shortcut icon" href="http://www.gravatar.com/avatar/3b964d84fcfbcdf59089c8bd7309f0b7.ico" />
		<link rel="stylesheet" type="text/css" href="/styles/style2.css" />
		<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
			<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25818786-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</head>
	
	<body>
		<div id="header" >
			<a href="/">Simon Last</a>
		</div>
	
	<div id="articleContainer">
			{{#each projects}}
			<div id="article">
				<a href="{{this.url}}">
					<img src="/screens/thumbs/{{this.titlePhoto}}" />
					<p>
						<span>{{this.title}}</span>
					</p>
				</a>
			</div>
			{{/each}}
	</div>

	<div class="old"><a href="/more/">more projects</a></div>


	<footer id="footer">
			<a id="email_me" data-email="uryyb@fvzbaynfg.bet" onclick="convert(this)" onmouseover="convert(this)" href="/email">&nbsp;uryyb@fvzbaynfg.bet&nbsp;</a>
	        <a id="website" href="http://simonlast.tumblr.com">&nbsp;photos&nbsp;</a>
			<a id="twitter" href="http://twitter.com/simonlast">&nbsp;twitter&nbsp;</a> 
			<a id="github" href="http://github.com/simonlast">&nbsp;github&nbsp;</a> 
			<a id="quora" href="http://www.quora.com/Simon-Last-1">&nbsp;quora&nbsp;</a> 
	</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/scripts/jquery.masonry.min.js"></script>
		<script>
		var done = false;
		var az = "abcdefghijklmnopqrstuvwxyzabcdefghijklmABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLM";

		var convert = function(el){
			if(!done){
				var converted = dcpt(el.getAttribute('data-email'));
				el.href = 'mailto:' + converted;
				el.innerHTML = '&nbsp;' + converted + '&nbsp;';
			}
			done = true;
			
		}

		//setTimeout(function(){convert(document.getElementById('email_me'));}, 500);

		var dcpt = function(text) {
	        for (var r = "", i = 0; i < text.length; i++) {
	            var chr = text.charAt(i);
	            var position = az.indexOf(chr);
	            if (position > -1) {
	                chr = az.charAt(position + 13);
	            }
	            r += chr;
	        }
	        return r;
    	};

		window.onload = function() {
  			$('#articleContainer').masonry({
  				isFitWidth: true
  			});
		};
				
		</script>
		
	</body>
</html>
